.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    background: #000000;
    opacity: 0.5;
}

.header {
    display: grid;
    grid-template-columns: 1.38fr 1fr 1fr;
    align-items: center;
    justify-items: flex-start;
    height: 384px;
}

.header__menu {
    margin-top: 91px;
    margin-left: 51px;
}

.header__link {
    letter-spacing: 0.01em;
    line-height: 21px;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px black solid;
}

.header__links-list {
    display: flex;
    gap:31px;
    list-style: circle;
}

.header__link_active {
    border-bottom: none;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__logo {
    display: block;
    width: 135px;
    margin-top: 92px;
    margin-left: 34px;
}

.header__address {
    font-style: normal;
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    margin-top: 92px;
    margin-left: 36px;
    width: 240px;
}

.header__address a {
    text-decoration: none;
    border-bottom: 1px black solid;
}

main {
    position: relative;
}
.cover {
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.cover__title {
    color: #FFFFFF;
    font-size: 100px;
    font-weight: 700px;
    text-transform: uppercase;
    position: absolute;
    z-index: 2;
    height: 355px;
    width: 1000px;
    margin: 162px 70px 237px 51px;
    line-height: 124px;
}

.aligned-text {
    display: block;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    display: block;
    letter-spacing: 0.3em;
    text-align: center;
}

.aligned-text_right {
    display: block;
    letter-spacing: 0.3em;
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 59px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 972px;
    display: flex;
    justify-content: space-between;
    column-gap: 69px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 17px;
    margin-bottom: 13px;
}

.cover__description-text {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    word-spacing: 18px;
    margin-top: 12px;
}

.bet-button {
    background: transparent;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    font-size: 22px;
    width: 256px;
    height: 51px;
    margin-bottom: 8px;
    margin-right: 2px;
}

.lots {
    margin-top: 178px;
}

.lots__heading {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    display: block;
    margin-bottom: 27px;
    margin-left: 65px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    column-gap: 25px;
    margin-left: 25px;
}

.lots__card-list-item {
    /* flex-grow:1; */
    width: 334px;
    min-height: 563px;
}

.card-link {
    display: block;
    text-decoration: none;
    height: 100%;
    position: relative;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 51px 40px 48px 40px;
}

.card__title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 2;
}

.card__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    z-index: 2;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lots__look-more-link {
    text-decoration: none;
    border-bottom: 1px #000000 solid;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    display: block;
    margin-top: 28px;
    margin-left: 65px;
}

.about {
    margin: 148px 24px 0 24px;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: 1fr;
}

.about__logo {
    background-color: #000000;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 49px;
    margin-top: 36px;
}

.about__logo-image {
    display: block;
    width: 141.54px;
}

.about__title {
    display: block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 114px;
    margin-bottom: 101px;
}

.about__text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.about__column {
    margin-left: 6px;
    width: 719px;
    padding:20px
}

.about__text p:first-of-type {
    margin-bottom: 24px;
    letter-spacing: 0.01em;  
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:flex-start;
    margin: 161px 50px 80px 50px;
}

.footer__address {
    color: #000000;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    font-style: normal;
    font-family: 'Raleway';
    font-weight: 400;
    width: 240px;
    margin-left: 1px;
}

.footer__menu {
    margin-left: 94px;
    text-align: center;
}

.footer__address a {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}

.footer__social-link {
    display: block;
    width: 48px;
}


.footer__menu-list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer__menu-link {
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    list-style: none;
    column-gap: 48px;
    margin-left: 94px;
}

